* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: white;

}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 10px 0px 10px 0px;

}

.contenedorpokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.botones {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 10px 0px 10px 0px;
}

.names {
    color: rgb(10, 10, 10);
    font-size: 2.5rem;
    font-weight: 400;

}

.names::first-letter {
    text-transform: uppercase;
}

header {
    background: linear-gradient(352deg, rgba(0, 0, 0, 1) 0%, rgba(253, 215, 45, 1) 100%);
    text-align: center;
    width: 100%;
}

header img {
    margin: 1rem;
    width: 80%;
}

#orderPokemon,
#typesPokemon,
#curiosidades {
    text-align: center;
    background: rgb(228, 255, 24);
    border-radius: 10px;
    color: black;
    width: 15rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: .5rem 0 .5rem 0;
    font-weight: bold;
    margin: 1rem
}

.contenedorimagen {
    background-color: rgb(235, 248, 163);
    border: rgb(228, 255, 24) solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 800px;
    width: 15rem;
    height: 15rem;

}

.imagen {
    width: 80%;
}

/* //de aaaaaaaaaaaaaaaaaaaaa */


#Pag1 {

    background: linear-gradient(352deg, rgba(0, 0, 0, 1) 0%, rgba(253, 215, 45, 1) 100%);
    text-align: center;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    Justify-content: center;
}


#Pag2 {

    display: none;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    border: solid 1px black;
    background-color: white;
    width: 50%;
    margin-bottom: 5px;
    border-bottom: 250%;
    text-align: center;
    border-image: repeat;

}

#texto-intro {
    font-family: 'Courier New', Courier, monospace;
    border: solid 1px black;
    background-color: white;
    padding: 10px;
    width: 50%;
    margin-bottom: 5px;
    border-bottom: 250%;
    text-align: center;
    border-image: repeat;

}

/* boton explorar home */
#pantalla1 {
    background-color: rgb(225, 207, 5);
    padding: 5px 30px 5px 30px;
    margin: 10px 0px 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    border: none;
    border-radius: 10px;
}

/* Aplicando Quarys Selectors para tablet */
@media (min-width: 760px) {

    header img {
        width: 65%
    }

    .botones {
        flex-direction: row;
        justify-content: space-around;

    }

    #orderPokemon,
    #typesPokemon,
    #damagePokemon {
        width: 12.5rem;

    }

    .contenedor {

        justify-content: space-around;
    }

    .contenedorpokemon {

        margin: 2.5rem 1rem 2.5rem 1rem;
    }


    #Pag1 img {
        width: 70%;

    }

    #texto-intro {

        width: 80%;
        font-size: x-large;
    }

    h1 {
        font-size: xx-large;
        width: 80%;
        height: 20%;
    }

    #pantalla1 {
        width: 60%;
        font-size: xx-large;

    }

}

/* Aplicando Quarys Selectors para Laptop */

@media (min-width: 1020px) {

    header img {
        width: 30%
    }

    #orderPokemon,
    #typesPokemon,
    #damagePokemon {
        width: 15rem;

    }
}