* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: black;

}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 10px 0px 10px 0px;

}

.contenedorpokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.botones {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 10px 0px 10px 0px;
}

.names {
    color: rgb(247, 249, 245);
    font-size: 2.5rem;
}

.names::first-letter {
    text-transform: uppercase;
}

header {
    background-color: black;
    text-align: center;
    width: 100%;
}

header img {
    margin: 1rem;
    width: 80%;
}

#orderPokemon,
#typesPokemon,
#damagePokemon {
    text-align: center;
    background: rgb(228, 255, 24);
    color: black;
    width: 15rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: .5rem 0 .5rem 0;
    font-weight: bold;
    margin: 1rem
}

.contenedorimagen {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 800px;
    width: 15rem;
    height: 15rem;

}

.imagen {
    width: 80%;
}

/* Aplicando Quarys Selectors para tablet */
@media (min-width: 760px) {

    header img {
        width: 65%
    }

    .botones {
        flex-direction: row;
        justify-content: space-around;

    }

    #orderPokemon,
    #typesPokemon,
    #damagePokemon {
        width: 12.5rem;

    }

    .contenedor {

        justify-content: space-around;
    }

    .contenedorpokemon {

        margin: 2.5rem 1rem 2.5rem 1rem;
    }
}

/* Aplicando Quarys Selectors para Laptop */

@media (min-width: 1020px) {

    header img {
        width: 30%
    }

    #orderPokemon,
    #typesPokemon,
    #damagePokemon {
        width: 15rem;

    }
}